<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="blueexshipping" frontName="blueexshipping">
            <module name="BlueEx_Shipping" />
        </route>
        <route id="sales">
            <module name="BlueEx_Shipping" before="Magento_Sales"/>
        </route>
    </router>
</config>
