<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="blueex" translate="label" sortOrder="120">
            <label>BlueEx Shipping</label>
        </tab>
        <section id="blueex_shipping" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>blueex</tab>
            <resource>BlueEx_Shipping::settings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>BlueEx Shipping Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>				
                <field id="accout_number" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>BlueEx Account Number</label>
                </field>
				<field id="api_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API key (Licencse Key)</label>
                </field>
				<field id="customer_name" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Username</label>
                </field>
				<field id="customer_password" translate="label" type="password" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Password</label>
                </field>
				<field id="live_mode" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Live Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>				
                <field id="origin_citycode" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Origin City</label>
                    <source_model>BlueEx\Shipping\Model\Config\Source\Cities</source_model>
                </field>	
				<field id="enable_oms" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send Only OMS</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="enable_dtb" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send directly to Bluekart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="sync_period" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>How often do you want syncronized orders status?</label>
					<comment><![CDATA[Use Crontab Format (Eg. "*/5 * * * *" for every 5 minutes). Default, once a day "30 1 * * *". Leave the field empty to disable regular synchronization.]]></comment>
                </field>
			</group>
        </section>
    </system>
</config>